# Optional variables
PASSWORD="SuperSecurePassword"
WALLET_NAME="wallet"
HIVED_ADDRESS="https://api.hive.blog"

# default values are used if not set
ACCOUNT_NAME=thecrazygm
TRANSFER_RECEIVER=ecoinstant
PRIVATE_KEY=5XXXXXX
PUBLIC_KEY=STMXXXXX

