# Optional variables
export PASSWORD="SuperSecurePassword"
export WALLET_NAME="wallet"
export HIVED_ADDRESS="https://api.hive.blog"

# default values are used if not set
export ACCOUNT_NAME=thecrazygm
export TRANSFER_RECEIVER=ecoinstant
export PRIVATE_KEY=5XXXXXX
export PUBLIC_KEY=STMXXXXX

